@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto';

    overflow: auto;
    position: relative;
    width: 100%;
    background-image: url('../assets/pictures/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-attachment: fixed;
}

footer {
    position: absolute;
    width: 100%; 
    bottom: 0;
    font-size: 12px;
}